/*---------------------------------- MAIN CSS SECTION ---------------------------------- */
@font-face {
    font-family: Manpore_font;
    src: url("../css/fonts/123/Manrope-VariableFont_wght.ttf");
}
.grayscale{
    filter: grayscale(1);
}
.link_active a{
    font-weight: bold !important;
    color: black;
}
.link_active:hover a{
    font-weight: bolder !important;
    color: #3462f2 !important;
}
.link_active{
    font-weight: bold !important;
    color: black;
}
.link_active:hover{
    font-weight: bolder !important;
    color: #3462f2 !important;
}
.content-overflow{
    overflow-x: auto;  
}
html{
    scroll-behavior: smooth;
}
body{
    background: #fbfbfd !important;
    font-family: Manpore_font !important;
    overflow-x: hidden;  
    width: 100%;
    height: 100%;
    background-color: #fbfbfd;
    margin: 0;
}
a {
	text-decoration: none;
}
a.btn {
    background: #3462f2;
    border-color: #3462f2;
    padding: 10px 30px;
    letter-spacing: .02em;
    white-space: nowrap;
}

.support-title a:link{
    color: #000;
}
.support-title a:hover{
    color: #3462f2;
}
.footer a:link{
    color: #000;
    font-weight: 500;
}
a:hover {
    text-decoration: none !important;
}
header{
    width: 100%;
    height: 65px;
    padding-top: 0px;
}
img{
    max-width: 100%;
    height: auto;
}
.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}
h1 {
    color: #1d1d1f;
    letter-spacing: .008em;
    font-weight: 600 !important;
}
h1, h2, h4{
    letter-spacing: .008em;
    font-family: Manpore_font;
}
:root{
    --global-nav-main-height: 65px;
    --global-nav-collective-height: calc(60px + var(--global-nav-main-height));
}
main{
    padding-top: var(--global-nav-collective-height);
}

/*------------------BLOCK LOGO GATI------------*/
.mob_logo{
    display: none;
}
.block__logo{
    z-index: 9999;
}
.logo img{
    max-height: 65px;
    object-fit: contain;
    object-position: left;
}
/*------------- BLOCK VISUAL IMPAIRED ---------------*/
.logo-visual{
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    line-height: 1.2;
    margin: 0;
    padding: 20px 0;
    max-height: 65px;
}
.logo-visual span{
    font-size: 14px;
    color: #1d1d1f;
}
.visuall__logo{
    object-position: center;
    object-fit: contain;
    width: 30px;
}
.logo-visual:hover span{
    border-bottom: 1px solid hsla(225, 88%, 58%, 0.6);
    color: #3462f2;
}
.logo-visual:focus{
    text-decoration: none;
}
.divider-new{
    border-bottom: 1px solid rgb(0,0,0,0.1);
}
.vis_text{
    padding: 0 !important;
    margin: 0 !important;
}
/*------------------------------- HEADER ----------------------------- */
.header{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.90);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,0.16);
    backdrop-filter: blur(1.25rem);
}
.name__mobile{
    display: none;
}
.header__container{
    max-width: 1840px;
    margin: auto;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.menu__body{
    height: 65px;
    display: flex;
}
.menu__icon{
    display: none;
}
.menu__list > li {
    position: relative;
}
.menu__link{
    font-weight: 500;
	font-size: 14px;
	color: #1d1d1f;
    white-space: nowrap;
    margin: 0 10px;
    padding: 0 5px;
}
a.menu__link:hover{
    color: black;
}

.menu__sub-list{
    line-height: 35px;
    white-space: nowrap;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.3);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.3);
    min-width: 200px;
    border: 1px solid rgba(0,0,0,0.15);
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu__sub-list li {
    padding: 0 15px;
    width: 100%;
    margin: 0px 0px 0px 0px;
}
.menu__sub-list li:last-child {
    margin: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.menu__sub-link{
    display: block;
    width: 100%;
    color: black;
    font-weight: normal;
    font-size: 14px;
}
.menu__sub-list li:hover{
    background-color: #87cefa;
    cursor: pointer;
}
.menu__sub-list li:hover a{
    color: white;
}
.menu__arrow{
    display: none;
}

/*-------------------------TOUCH/PC--------------------*/
body._lock{
    overflow: hidden;
}
body._pc .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all
}
body._pc .logo-visual:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all
}
body._pc .menu__list > li:hover .menu__link{
    border-bottom: 1px solid hsla(225, 88%, 58%, 0.6);
    color: #3462f2;
}

body._touch .block__visual{
    display: none;
}
body._touch .menu__list > li{
    display: flex;
    align-items: center;
}
body._touch .menu__arrow{
    display: block;
    background: url("../img/icons/arrow_down.svg");
    width: 8px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
}
body._touch .menu__sub-list{
    min-width: 100%;
}
body._touch .menu__link{
    flex: 1 1 auto;
}
body._touch ul{
    line-height: 35px;
}
body._touch .show{
    display: none !important;
}
body._touch .menu__list > li._active .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
    margin-bottom: 15px;
}
body._touch .menu__list > li._active .menu__sub-list li:first-child{
    margin-top: 5px;
}
body._touch .menu__list > li._active .menu__sub-list li:last-child{
    margin-bottom: 5px;
}
body._touch .menu__list > li._active .menu__arrow{
    transform: rotate(-180deg);
}

/*--------------------MAIN CONTAINER-----------------*/
.slider-top{
    width: 100%;
    padding-bottom: 20px;
}

/*-------------------- SLIDER --------------------*/
.sl-text{
    background: url("../img/images/logo_guspbru.svg");
    height: 45px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    margin-bottom: 1rem;
}
.sl-text_1{
    background: url("../img/slider/desktop.svg");
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    margin-bottom: 1rem;
}
.bot-slide{
    border-radius: 10px;
}
.slick-list{
    border-radius: 10px;
}
.sliderban_1{
    box-shadow: 0 5px 14px rgba(0,0,0,0.15), 0 5px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
}
.slider{
    min-height: 303px !important;
}
._one{
    background: #2adfd6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.slick-dots li{
    margin: 0 !important;
}
.sl {
    position: absolute;
    color: #2f3132;
    width: 80%;
    top: 40%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}
.sl_h1 span{
    font-size: 24px;
    font-weight: 500;
    color: #f5f5f7;
    padding: 0 5px;
}
.sl-text {
    font-size: 18px;
}
._two{
    background: #87cefa;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
._three{
    background: #2da75f;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.sl-btn {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: .02em;
    color: #F5F5F5;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    transition: all .15s linear;
    display: inline-block;
    color: #fff;
    background-color: rgb(0,0,0,0.4);
    vertical-align: baseline;
    border: 0;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 10px;
}
.sl-btn:hover {
    background:  transparent;
    color: #2f3132;
    border: 2px solid #2f3132;
}

/*--- SLIDER ELEMENTS ---*/
.sliderban_1 .slick-arrow{
    width: 48px;
    height: 48px;
    top: calc(10%);
}
.sliderban_1 .slick-prev{
    right: 65px;
    z-index: 2;
}
.sliderban_1 .slick-next{
    right: 25px;
    z-index: 2;
}
.slick-list{
    margin: 0 !important;
    padding: 0 !important;
}
.sliderban_1{
    margin-bottom: 0 !important;
}

body._touch .sliderban_1 .slick-arrow{
    display: none !important;
}

/*------------------------ MAIN SECTION ---------------------------- */
.main-top-container{
    max-width: 1840px;
    margin: 0 auto;
    padding: 0 5px;
}
.block-content-name{
    margin-bottom: 10px;
}
.block-content-name span{
    margin-left: 15px;
    font-size: 24px;
    font-weight: bold;
}
.uslugi{
    margin-top: 60px;
}
.block-content-service{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-content-service h3{
    font-weight: bolder;
}

/*---------------------- MAP CONTENT ---------------------------*/
div.top-map {
    transition: all .5s ease 0.1s;
    width: 100%;
}
div.top-map a{
    color: #000;
}
.top-map .map_block{
    transition: all .5s ease 0.1s;
    border-radius: 10px;
    height: 100%;
}
.top-map .map_block:hover{
    color: #000;
    box-shadow: 0 7px 20px rgba(0,0,0,0.25), 0 7px 10px rgba(0,0,0,0.2);
    transform: scale(1.02);
}
div.map-container {
    text-align: center;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 16px;
    font-family: Manpore_font;
}
.img-map{
    border-color: black;
    border-width: 1px;
    height: 100%;
    box-shadow: 0 5px 14px rgba(0,0,0,0.15), 0 5px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.titlemap:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(255, 255, 255, 1);
    background: rgba(0,0,0,0.6);
    z-index: 1;
    opacity: 0;
    transition: all .5s ease-in-out;
    border-radius: 10px;
}
.titlemap img {
    transition: all 0.4s ease-in-out;
}
.text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -60px;
    text-align: center;
    z-index: 2;
}
.text h3 {
    color: white;
    display: inline-block;
    font-size: 24px;
    line-height: 75px;
    font-weight: bold;
    border-width: 1px 0;
    border-color: rgba(255,255,255,0.5);
    border-style: solid;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.titlemap:hover:before {
    opacity: 1;
}
.titlemap:hover .text h3 {
    opacity: 1;
}
/*------------------------------ NEWS ---------------------------------*/
.news{
    margin-left: 5px !important;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.news-column-item{
    line-height: 1.6;
    letter-spacing: .03em;
    margin: 20px 0 20px 20px;
    text-align: justify;
}
.news-column-date{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .05em;
    color: #8d8d94;
}
.news-column-list li:first-child{
    margin-top: 10px !important;
}

/*-------------------------- MAIN BOTTOM CONTENT----------------*/
.main-bottom-content{
    padding-top: 60px;
    background-color: #ffffff;
    height: auto;
    max-width: 100%;
}
div.but-div{
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}
.uslugi-btn{
    margin-top: 1rem;
}
img.btn-img{
    height: 200px;
    display: block;
    margin: 0 auto;
}
div.clearfix p{
    padding: 0 5px;
    font-size: 16px;
    font-weight: 500;
}
.uslugi_img_1{
    background-color: #f5f5f7;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 14px rgba(0,0,0,0.15), 0 5px 10px rgba(0,0,0,0.22);
}
.uslugi-btn:hover .uslugi_img_1{
    background-color: #87cefa;
}
.uslugi-btn:focus .uslugi_img_1{
    background-color: #3462f2;
}

/*---------------- BANNER ------------------*/
.banner_container{
    max-width: 1840px;
    margin: 0 auto;
}
.banner-content{
    height: 90px;
    width: 100%;
    margin-top: 60px;
}
.sliderban .slick-list{
    border-radius: 10px;
}
.banner_container .row{
    margin: 0;
}
.baners{
    margin-right: 10px;
    margin-left: 10px;
    filter: grayscale(100%);
    transition: all 0.3s ease 0s;
}
.banimg{
    max-width: 140px !important;
    height: 70px !important;
    border-radius: 8px;
}
.baners:hover{
    filter: grayscale(0);
}

/*------------------- SUPPORT SECTION ---------------------------- */
.support-section {
    width: 100%;
    margin-top: 60px;
    background-color: #ffffff;
}
.support-container{
    max-width: 1840px;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.sup__flex{
    display: flex;
    justify-content: center;
    margin: auto 0;
}
.support-container.row{
    width: 100%;
}
.support-number h4 {
    color: #000;
    line-height: 5px;
}
.support-number h4:hover {
    color: #3462f2;
}
.support-title {
    text-align: start;
    color: #000;
    line-height: 15px;
}
.sup-img{
    padding-top: 2px;
    padding-right: 15px;
}
/*------------------------ SOCIAL AND ETC---------------*/
.social-section{
    display: flex;
    justify-content: start;
    height: auto;
}
.social-row{
    margin-top: 0.3rem;
    margin-left: 5rem;
    display: inline-flex;
}
.social-row-2{
    margin-left: 3rem;
    display: inline-flex;
}
.social-link div{
    transition: all 0.5s ease 0s;
}
.social-link div.vk{
    margin: 5px;
    width: 40px;
    height: 40px;
}
.social-link div.telegram{
    margin: 5px;
    width: 40px;
    height: 40px;
}
.social-link div.vk{
    background: url("../img/icons/vk_icon_2.png");
    background-size: contain;
    vertical-align: middle;
    filter: grayscale(1);
}
.social-link div.telegram{
    background: url("../img/icons/telega_icon_2.png");
    background-size: contain;
    vertical-align: middle;
    filter: grayscale(1);
}
.social-link:hover div{
    transform: scale(1.2);
    filter: grayscale(0);
}
/*------------------------ FOOOOOTER ----------------*/
.footer-menu-ul {
    line-height: 2rem;
}
.footer-bottom-container{
    max-width: 1840px;
    margin: 0 auto;
    display: block;
}
.footer-bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: .008em;
    color: #8d8d94;
}
.footer-bottom ._row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
._row.support{
    justify-content:  center;
}
.footer-bottom-content {
    width: 100%;
    margin-top: 60px;
    padding: 10px 0 0 0;
    border-top: 1px solid rgba(198,202,215,.3);
    text-align: left;
}
ul {
    line-height: 40px;
    display: block;
    list-style: none;
    padding-inline-start: 0px;
    font-weight: 500;
    margin: 0 !important;
}

/*------ hidden content -----*/
.login__button{
    display: flex;
    position: relative;
    padding-top: 10px;
}
.login__button a{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color:  #8d8d94;
    margin: 0 0 0 auto;
}
.login__button a:hover,
.login__button a:focus{
    color: #8d8d94;
    text-decoration: underline;
}
.login__drop{
    position: absolute;
    border-radius: 5px !important;
}
.login__drop form{
    padding: 10px;
}
._secret{
    display: flex;
    padding-top: 5px;
    margin-top: 1rem;
}
._secret a{
    color: ghostwhite;
    margin: 0 0 0 auto;
}
.button{
    background-color: ghostwhite !important;
    border: 1px solid #ccc !important; 
}
